<form action="/users/create" method="post">
    <input type="text" name="FullName" required placeholder="FullName">
    <input type="email" name="Email" required placeholder="Email">
    <input type="password" name="Password" required placeholder="Password">
    <input type="password" name="ConfirmPassword" required placeholder="Confirm Password">
    <input type="submit" value="SignUp">
</form>