<form action="/users/create-session" method="post">
    <input type="email" name="Email" required placeholder="Email">
    <input type="password" name="Password" required placeholder="Password">
    <input type="submit" value="SignIn">
</form>